.app {
  max-width: 600px;
  margin-top: 5%;
  background-color: #014d69;
  padding: 0 20px;
  border-radius: 5px;
}

h1:hover {
  color: #d2dd20;
  cursor: default;
}

h1 {
  font-weight: bold;
  color: #f0f4f9;
  margin-top: 5px;
}
